apiVersion: kubeadm.k8s.io/v1beta1
kind: InitConfiguration
localAPIEndpoint:
  advertiseAddress: 0.0.0.0
  bindPort: {{ kube_apiserver_port }}
---
apiVersion: kubeadm.k8s.io/v1beta1
kind: ClusterConfiguration
controlPlaneEndpoint: "{{ kube_apiserver_ip }}:{{ kube_apiserver_port }}"
apiServer:
  extraArgs:
    advertise-address: {{ kube_apiserver_ip }}
